# Servidor Expresso
PORT=3000

# Conexão OracleDB Local
ORACLE_USER=meu_usuario
ORACLE_PASSWORD=minha_senha
ORACLE_CONNECT_STRING=localhost:1521/XEPDB1

# Conexão PostgreSQL / Supabase
SUPABASE_URL=https://xyzcompany.supabase.co
SUPABASE_SERVICE_KEY=eyJh...

# Integração Chatwoot
CHATWOOT_URL=https://app.chatwoot.com
CHATWOOT_TOKEN=seu_access_token_aqui
ACCOUNT_ID=1

# Ajustes de Fila
ID_FILA_PADRAO_VENDEDOR=999

# CRON para Sincronização
CRON_SYNC_SCHEDULE="0 * * * *" # A cada 1 hora no minuto zero
